div {
    font-family: 'Pixel Sans Serif', sans-serif;
    font-family: 'Pixel Sans Serif Condensed', sans-serif;

}
.container {
    min-height: 1400px;
    width: 1000px;
    background-color: skyblue;
    padding: 20px;
     
     
}
.header {
    height: 230px;
    width: 800px;
    background-color: whitesmoke;
    margin-left: 100px;
    margin-top: 20px;
} 
h1 {
    margin-left: 90px;
    letter-spacing: 1px;
}
.main {
    height: 500px;
    width: 800px;
    background-color: whitesmoke;
    margin-left: 100px;
    margin-top: 20px;
}
.main-1 {
    width: 250px;
    height: 160px;
}
p2 {
    font-size: 11px; 
    display: flex;
    margin-left: 20px;
     
}
h2 {
    font-size: 16px;
    letter-spacing: 1.5px;
    margin-left: 100px;
}
p {
    font-size: 11px;
    letter-spacing: 1.5px;
    margin-inline-start: 10px;
    text-indent: 10px;
}
.footer {
    min-height: 1000px;
    width: 800px;
    background-color: whitesmoke;
    margin-left: 100px;
    margin-top: 20px;
}
.main2 {
    height: 1000px;
    width: 800px;
    background-color: whitesmoke;
    margin-left: 100px;
    margin-top: 20px;
}